.vendor-img{
    width: 50px;
    border-radius: 100px;
    border: 3px solid white;
}
.vendor{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
}
.cod,  .usname{
    margin-top: 10px;
}
.cod{
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.usname, a:hover{
    opacity: 0.7;
}
.bgr{
    background-color: whitesmoke;
    padding: 50px;
}
.text-sms{
    font-weight: 800;
    color: rgba(0, 0, 0, 0.637);
}
.hdtext{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.822);
}
.under{
    font-weight: 400;
}
input::placeholder{
    color: rgba(167, 161, 161, 0.575);
    outline: red;
}
.activities{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    background-color: rgb(14, 16, 19);
}
.head{
    float: left;
    background-color: brown;
    padding: 10px;
    border-radius: 7px;
    color: white;
}
.act-img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.hd-text{
    display: flex;
    gap: 5px;
    font-weight: 700;
}
.sub-text{
    margin-left: 35px;
    font-size: 13px;
}